/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 5, 2024, 2:27:38 AM
    Author     : dar
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.navbar {
    background-color: #00BF63;
    padding: 0 20px;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
}

.logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-list > li {
    margin: 0 15px;
    position: relative;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.nav-list a:hover {
    color: #0c5531;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    padding: 8px 15px;
}

.dropdown-menu li a {
    color: black;
    font-size: 14px;
    display: block;
}

.dropdown-menu li a:hover {
    background: #07904e;
    color: white;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.logout-btn {
    background:#06a257;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.logout-btn i{
    color: white;
}

.logout-btn:hover {
    box-shadow: 0 0 5px 2px #fff;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 88vh;
    justify-items: end;
}

.sidebar {
    width: 25%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    color: black;
    font-size: 22px;
}
.sidebar .name{
    font-size: 20px;
}
.sidebar .image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px;
    background-color:rgb(51, 137, 236);
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info li {
    font-size: 16px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.info li i {
    color: #00BF63;
    margin-right: 10px;
    font-size: 16px;
}

.main {
    width: 75%;
    background: white;
    margin: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main .content{
    padding: 20px;
    color: black;
}

.bar {
    background-color: #00BF63;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

/* styling for forms */
.content-section {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.input-group label {
    width: 60px;
    text-align: center;
    color: black;
}

.input-group input {
    height: 3vh;
    width: 60%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}

.select-button{
    background-color: #00BF63; 
    height: 6vh;
    color: #fff;
    padding: 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.select-button:hover{
    background-color: #06a257;
}

